
@media (prefers-color-scheme: dark) {

}

.init-section,
.countdown,
.project-section {
  display: flex;
  flex-flow: column;
}

td {
  text-align: center;
}

.hidden {
  display: none;
}

h2 {
  text-align: center;
}

.countdown p {text-align: center;}