* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.25rem;
}

h1 {
  margin: 1rem 0 0;
  text-align: center;
  font-weight: 400;
}

h2 {
  margin: 1rem 0 0;
}

p {
  margin: 0;
}

.init-section,
.countdown,
.project-section {
  display: flex;
  flex-flow: column;
  gap: .5rem;
}

.project-section {
  margin-top: 2rem;
}

label {
  font-size: 1.125rem;
}

input {
  padding: .25rem .5rem;
  font-size: 1.25rem;
  border: 1px solid lightslategray;
  border-radius: .5rem;
  width: 100%;
}

button {
  padding: .5rem;
  font-size: 1.25rem;
  border: 0;
  border-radius: .5rem;
  width: 100%;
  background: #82c2ff;
  box-shadow: 1px 1px 1px 1px #e7e7e7;
}

.button--danger {
  background: darkred;
  color: white;
}

table {
  font-size: 1.125rem;
}

table button {
  padding: .25rem;
  font-size: 1.125rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1f1f1f;
    color: #e7e7e7;
  }

  input {
    background: #1f1f1f;
    color: #e7e7e7;
  }

  button {
    background: #45a5ff;
    box-shadow: 1px 1px 1px 1px #7ddaff;
    color: rgb(23, 23, 23);
  }

  .button--danger {
    background: #ffaaaa;
    color: #1f1f1f;
    box-shadow: 1px 1px 1px 1px #730016;
  }
}

.button-wrapper {
  display: flex;
  gap: 1rem;
}

td {
  text-align: center;
}

.hidden {
  display: none;
}

h2 {
  text-align: center;
}

.countdown p {text-align: center;}